<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>考勤系统</title>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../layui/css/layui.css">
  <style>
    .basic-info{
        width:100%;
        height:30%;
        border: 1px solid;
    }
    .title{
        margin: 10px 10px;
        font-size:20px;
        color:#01AAED;
    }
    .base{
        margin: 10px 0 10px 40px;
        width: 30%;
        float: left;
        font-size:15px;
    }
    .photo{
        float:left;
        width:20%;
        height:40%;
        border: 1px solid;
        margin: 30px 30px;
    }
    .account{
        float:left;
        width:50%;
        height:40%;
        border: 1px dashed;
        margin: 30px 80px;
    }
    .confirm{
        width:5%;
        height:5%;
        margin-top: 20px;
        margin-left: 40px;
    }
</style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">智慧考勤系统</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>
      <li class="layui-nav-item layui-hide-xs"><button onclick="window.location.href='/admin/sign'" class="layui-btn layui-btn-radius layui-btn-lg">签到打卡</button></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <li class="layui-nav-item"><input type="text" class="layui-input" id="test1"></li>
        <li class="layui-nav-item"><a>个人信息</a>
        <dl class="layui-nav-child">
            <dd><a href="/admin/info">基本信息</a></dd>
            <dd><a href="/">注销</a></dd>
        </dl></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black" id="navigation">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
		<li class="layui-nav-item"><a class="homepage" href="/admin/home">首页</a></li>
          <li class="layui-nav-item"><a href="/admin/manage">职员管理</a></li>
          <li class="layui-nav-item"><a href="/admin/check">考勤记录</a></li>
          <li class="layui-nav-item"><a href="/admin/oa">请假管理</a></li>
          <li class="layui-nav-item"><a href="/admin/meet">视频会议</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 基本信息部分 -->
    <div class="basic-info">
        <h2 class="title">基本信息</h2>
        <div class="base">
            姓名：<span>{{name}}</span>
        </div>
        <div class="base">
            工号：<span>{{id}}</span>
        </div>
        <div class="base">
            年龄：<span>{{age}}</span>
        </div>
        <div class="base">
            性别：<span>{{sex}}</span>
        </div>
        <div class="base">
            部门：<span>{{department}}</span>
        </div>
        <div class="base">
            职位：<span>{{position}}</span>
        </div>
        <div class="base">
            手机号：<span>{{phoneNumber}}</span>
        </div>

    </div>
    <!-- 图片部分 -->
    <div class="photo">
        <img id="img" src="{{avatar}}" style="width: 100%; height: 100%">
    </div>
    
    <!-- 账号管理部分 -->
    <div class="account">
        <h2 class="title">账号管理</h2>
        <div class="base">
            手机：<span>***************</span><button type="button" class="layui-btn layui-btn-xs" style="margin: 10px 30px;">修改</button>
        </div>
        <div class="base">
            邮箱：<span>***************</span><button type="button" class="layui-btn layui-btn-xs" style="margin: 10px 30px;">修改</button>
        </div>
        <div class="base">
            密码：<span>****************</span><button type="button" class="layui-btn layui-btn-xs" style="margin: 10px 30px;">修改</button>
        </div>
        <div class="confirm">
        <button type="button" class="layui-btn ">确定</button>
        </div>
    </div>
              <button type="button" class="layui-btn" id="test2" style="margin:10px 150px">
            <i class="layui-icon">&#xe67c;</i>上传图片
        </button>
      <button onclick="window.location.href='/admin/input'" type="button" class="layui-btn layui-btn" style="margin: 10px 30px;">人脸录入</button>
  </div>


  <div class="layui-footer">
    <!-- 底部固定区域 -->
    欢迎使用智慧考勤系统！
  </div>
</div>
<script src="../layui/layui.js"></script>
<script>
//JS
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.$;

  //头部事件
  util.event('lay-header-event', {
    menuRight: function(){
      layer.open({
        type: 1
        ,content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
        ,area: ['260px', '100%']
        ,offset: 'rt' //右上角
        ,anim: 5
        ,shadeClose: true
      });
    }
  });
});

var time=new Date();
         var date = time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate()
         console.log(date);


layui.use('laydate', function(){
  var laydate = layui.laydate;

  //执行一个laydate实例
  laydate.render({
    elem: '#test1' //指定元素
    ,type: 'date'
    ,value: new Date(new Date())
  });
});

layui.use('table', function(){
  var table = layui.table;
});

// 图片上传
layui.use('upload', function(){
  var upload = layui.upload;

  //执行实例
  var uploadInst = upload.render({
    elem: '#test2' //绑定元素
    ,url: '/deal' //上传接口
    ,data:{
        'method':'insertPhoto',
    }
    ,done: function(res){
    }
    ,error: function(){
      //请求异常回调
    }
  });
});
</script>

</body>
</html>