<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <title>Document</title>
      <!-- css补充 -->
    <style type="text/css">
        .sign {
        width: 60%;
        margin: 5px 40px;
        border-radius: 3px;
        border: 1px solid #EAEAEA;
        padding: 20px;}
    </style>
</head>
<body>
    <div class="sign">
        <div>
            姓名：
            <span class="sign-time" style="padding-right: 20%;">{{name}}</span>
        </div>
        <div style="margin-top:10px ;">
            部门：
            <span class="sign-time" style="padding-right: 20%;">{{department}}</span>
        </div>
        <div style="margin-top:10px ;">
            申请理由：
            <span class="sign-time" style="padding-right: 20%;">{{reason}}</span>
        </div>
        <div style="margin-top:10px ;">
            申请时间：
            <span class="sign-time" style="padding-right: 20%;">{{applyTime}}</span>
        </div>
        <div style="margin-top:10px ;">
            起始时间：
            <span class="sign-time" style="padding-right: 20%;">{{startTime}}</span>
        </div>
        <div style="margin-top:10px ;">
            终止时间：
            <span class="sign-time" style="padding-right: 20%;">{{endTime}}</span>
        </div>
        <div style="margin-top:10px ;">
            审批最终状态：
            <span class="sign-time" style="padding-right: 20%;">{{sel}}</span>
        </div>
        <div style="margin-top:10px ;">
            审批回复理由：
            <span class="sign-time" style="padding-right: 20%;">{{adminReason}}</span>
        </div>
    </div>
</body>
<script src="../layui/layui.js"></script>
<script>
// 下选框
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
</script>
</html>