<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>message Try</title>

</head>

<body>
    <form action="/test" method="get" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">

        <label for="login">Login</label>
        <input id="login" name="login" type="text" value="" autofocus />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" value="" />
        <input type="submit" value="login" />
        <!--    {{order | safe }}-->
    </form>




</body>

</html>